<div class="row margin-top20">
  <div class="col-sm-3">
    <div class="panel">
      <div class="panel-heading partition text-center">
        <span><%= user.name %></span>
      </div>
      <div class="panel-body">
        <p><%= user.yourself %></p>
        <% unless user.skill == "" %>
          <b>▷言語・スキル</b>
          <p><%= user.skill %></p>
        <% end %>
        <% if user == current_user %>
          <a href="/users/edit" class="pull-right"><i class="fas fa-user-edit"></i>プロフィール編集</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    
    <%= link_to user_path(user), style: 'text-decoration: none' do %>
      <span class="btn btn-default <%= 'btn-success' if current_page?(user_path(user)) %>">
        作品  <span class="badge"><%= user.results.count %></span>
      </span>
    <% end %>
    
    <%= link_to goods_user_path(user), style: 'text-decoration: none' do %>
      <span class="btn btn-default <%= 'btn-warning' if current_page?(goods_user_path(user)) %>">
        いいねした作品 <span class="badge"><%= user.good_results.count %></span>
      </span>
    <% end %>

    <div class="panel margin-top10">
      <div class="panel-body eachbody">
        <% if results == [] %>
          <div class="text-muted eachcontent">
            作品はありません
          </div>
        <% end %>

        <%= render 'results/results', results: results %>
      </div>
    </div>
  </div>

</div>
