<div class="row margin-top20">
  <div class="col-sm-3">
    <div class="panel">
      <div class="panel-heading partition text-center">
        <span><%= @user.name %></span>
      </div>
      <div class="panel-body">
        <p><%= @user.yourself %></p>
        <% unless @user.skill == "" %>
          <b>▷言語・スキル</b>
          <p><%= @user.skill %></p>
        <% end %>
        <% if @user == current_user %>
          <a href="/users/edit" class="pull-right"><i class="fas fa-user-edit"></i>プロフィール編集</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <span class="btn btn-info">
      作品  <span class="badge"><%= @count_results %></span>
    </span>
    <span class="btn btn-default">
      いいねした作品
    </span>
    <div class="panel margin-top10">
      <div class="panel-body eachbody">
        <% if @results == [] %>
          <div class="text-muted eachcontent">
            登録している作品はありません
          </div>
        <% end %>

        <%= render 'results/results', results: @results %>
      </div>
    </div>
  </div>

</div>
