<div class='row'>
  <% results.each do |result| %>
    <div class="result">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default">

          <div class="panel-heading text-center">
            <div class="no_img_content">
              <img src="/images/no_img.png" alt="no_image" class="no_img">
              Under Construction
            </div>

            <% if result.created_at > Time.current.ago(6.days) %>
              <div class="new-label">NEW</div>
            <% end %>
          </div>

          <div class="panel-body">
            <div><%= result.subtitle %></div>
            <div ><%= link_to result.title, result_path(result) %></div>

            <div><small>by <%= link_to result.user.name, user_path(result.user) %></small></div>
            
            <div class="text-muted">
              <span class="margin-right10"><%= time_ago_in_words(result.created_at) %></span>
              <span class="margin-right10"><i class="far fa-eye green"></i> <%= result.visit %></span>
              <span class="margin-right10"><i class="fas fa-thumbs-up orange"></i> <%= result.good_users.count %></span>
              <span class="margin-right10"><i class="far fa-comment"></i> <%= result.comments.count %></span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  <% end %>
</div>
