<div class="col-sm-3 col-sm-pull-9  margin-top20">
  <ul class="nav nav-pills nav-stacked text-center">
    <li role="presentation" class="<%= 'active' if current_page?(root_path) %>"><a href="/" ><i class="fas fa-share-alt"></i> 最新の作品</a></li>
    <li role="presentation" class="<%= 'active' if current_page?(good_ranking_path) %>"><a href="/good_ranking"><i class="fas fa-crown"></i> いいねランキング</a></li>
    <li role="presentation" class="<%= 'active' if current_page?(users_path) %>"><a href="/users"><i class="fas fa-users"></i> ユーザー</a></li>

    <% if user_signed_in? %>
      <div class="partition margin-top10 margin-bottom10"></div>
    
      <li role="presentation">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i> マイページ
        <% end %>
      </li>
      <% if current_user.profiles != [] %>
        <li>
          <%= link_to edit_profile_path(current_user), data: {"turbolinks" => false} do %>
            <i class="fas fa-user-edit"></i> プロフィール
          <% end %>
        </li>
      <% else %>
        <li><a href="/profiles/new" data-turbolinks="false"><i class="fas fa-user-edit"></i> プロフィール</a></li>
      <% end %>
      <li role="presentation"><a href="/users/edit" ><i class="fas fa-cog"></i> アカウント設定</a></li>

      <div class="partition margin-top10 margin-bottom10"></div>

      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
      </li>
    <% end %>

  </ul>
</div>
