<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if @result %>
      <meta name="twitter:card" content=”summary_large_img“>
      <meta name="twitter:title" content="<%= @result.subtitle %>〜<%= @result.title %>〜 - Sharemade">
      <meta name="twitter:description" content="<%= @result.detail %>">
      <meta name="twitter:image" content="<%= @result.image %>">
    <% end %>

    <title>Sharemade</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_messages' %>
    
    <% if user_signed_in? %>
    <%# ログイン中 %>
      <div class="container margin-top10">
        <%= yield %>
      </div>
    <% else %>
    <%# ログイン前 %>
      <%= render 'layouts/welcome'%>
      <div class="container margin-top10">
        <%= yield %>
      </div>
    <% end %>
     

    <footer>
    </footer>
  </body>
</html>
